# Flutter/Dart build artifacts
.dart_tool/
build/
.pub/
packages

# Android/iOS build junk
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/

# big binary artifacts
*.apk
*.aab
*.dill

# --- allow Flutter web build for Vercel ---
!build/web/
!build/web/**

# keep Android huge stuff out
build/app/
build/**/intermediates/
build/**/merged_native_libs/
