# Flutter/Dart build artifacts
.dart_tool/
build/
.pub/
packages

# Android/iOS build junk
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/

# big binary artifacts
*.apk
*.aab
*.dill
